@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #EDE7D0;
    margin: 0;
    padding: 5rem;

    font-family: 'Poppins', sans-serif;
}

a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

input {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}


img {
    width: 50px;
}

.dark-mode-cta {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    p.dark-mode {
        cursor: pointer;
        color: #504749;
        font-size: 2rem;
        font-weight: bold;
        margin-right: 1rem;
    }

    .dark-mode__switch {
        cursor: pointer;
        position: relative;
        background-color: #B4B592;
        width: 4rem;
        height: 2rem;
        border-radius: 30px;
        .dark-mode__switch-key {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #504749;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
    }
}

.converter {
    display: flex;
    justify-content: space-between;
    .input {
        width: 50%;
        form.converter__form {
            background-color: #504749;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            padding: 1rem;
    
            p {
                color: #EDE7D0;
                margin-bottom: .2rem;
            }
            p.converter__result {
                color: #504749;
                margin-bottom: 0;
            }
            select {
                cursor: pointer;
                font-size: 2rem;
                color: #504749;
                background-color: #B4B592;
                border: none;
                width: 100%;
                border-radius: 10px;
                padding: .5rem 1rem;
            }
            .amount {
                display: flex;
                flex-direction: column;
                .amount-container {
                    background-color: #B4B592;
                    padding: .5rem 1rem;
                    border-radius: 10px;
                }
                input {
                    font-size: 2rem;
                    color: #504749;
                    border: none;
                    background-color: #B4B592;
                    width: 100%;
                    align-self: center;
                }
                
                margin-bottom: 1.1rem;
            }
           
            .currencies {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .from, .to {
                    width: 45%;
                }
                img {
                    cursor: pointer;
                    width: 5%;
                    transform: translateY(.6rem);
                }
                
                margin-bottom: 1rem;
            }
    
            .results {
                display: flex;
                background-color: #B4B592;
                border-radius: 10px;
                height: 3.5rem;
                font-size: 2rem;
                padding: .5rem 1rem;
                .converter__result {
                    align-self: center;
                }
                
            }
        }
    }

    .keyboard {
        justify-content: flex-end;
        display: flex;
        width: 50%;
        padding: 0 1rem;
        .keyboard__numbers {
            display: grid;
            grid-template-columns: 8rem 8rem 8rem;
            grid-template-rows: 6rem 6rem 6rem 6rem;
            grid-gap: 1rem;

            margin-right: 2rem;
        }
        
        .keyboard__operators {
            display: grid;
            grid-template-columns: 8rem;
            grid-template-rows: 6rem 6rem 6rem;
            grid-gap: 1rem;
        }

        .key {
            cursor: pointer;
            background-color: #504749;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            p {
                color: #EDE7D0;
                font-weight: bold;
                font-size: 2rem;      
            }
        }

        .key:hover {
            background-color: #504749e3;
        }
        
        .double-width{      
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .double-height{      
            grid-row-start: 2;
            grid-row-end: 4;
        }
    }
}