@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #EDE7D0;
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

img {
    width: 50px;
}