@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  background-color: #EDE7D0;
  margin: 0;
  padding: 5rem;
  font-family: 'Poppins', sans-serif;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

img {
  width: 50px;
}

.dark-mode-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dark-mode-cta p.dark-mode {
  cursor: pointer;
  color: #504749;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
}

.dark-mode-cta .dark-mode__switch {
  cursor: pointer;
  position: relative;
  background-color: #B4B592;
  width: 4rem;
  height: 2rem;
  border-radius: 30px;
}

.dark-mode-cta .dark-mode__switch .dark-mode__switch-key {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #504749;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.converter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.converter .input form.converter__form {
  background-color: #504749;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.converter .input form.converter__form p {
  color: #EDE7D0;
}

.converter .input form.converter__form select {
  font-size: 2rem;
  color: #504749;
  background-color: #B4B592;
  border: none;
  width: 17rem;
  border-radius: 10px;
  padding: .5rem 1rem;
}

.converter .input form.converter__form .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.converter .input form.converter__form .amount input {
  font-size: 2rem;
  color: #504749;
  background-color: #B4B592;
  border: none;
  border-radius: 10px;
  width: 40rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: .5rem 1rem;
}

.converter .input form.converter__form .currencies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.converter .input form.converter__form .currencies img {
  cursor: pointer;
  width: 2.5rem;
  -webkit-transform: translateY(0.6rem);
          transform: translateY(0.6rem);
}

.converter .input form.converter__form .results {
  background-color: #B4B592;
  border-radius: 10px;
  font-size: 2rem;
  padding: .5rem 1rem;
}

.converter .keyboard {
  width: 20rem;
  background-color: #504749;
}
/*# sourceMappingURL=main.css.map */