@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #EDE7D0;
    margin: 0;
    padding: 5rem;

    font-family: 'Poppins', sans-serif;
}

a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

img {
    width: 50px;
}

.dark-mode-cta {
    display: flex;
    align-items: center;

    p.dark-mode {
        cursor: pointer;
        color: #504749;
        font-size: 2rem;
        font-weight: bold;
        margin-right: 1rem;
    }

    .dark-mode__switch {
        cursor: pointer;
        position: relative;
        background-color: #B4B592;
        width: 4rem;
        height: 2rem;
        border-radius: 30px;
        .dark-mode__switch-key {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #504749;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
    }
}

.converter {
    display: flex;
    justify-content: space-between;
    .input {
        form.converter__form {
            background-color: #504749;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            padding: 1rem;
    
    
            p {
                color: #EDE7D0;
            }
            select {
                font-size: 2rem;
                color: #504749;
                background-color: #B4B592;
                border: none;
                width: 17rem;
                border-radius: 10px;
                padding: .5rem 1rem;
            }
            .amount {
                display: flex;
                flex-direction: column;
                input {
                    font-size: 2rem;
                    color: #504749;
                    background-color: #B4B592;
                    border: none;
                    border-radius: 10px;
                    width: 40rem;
                    align-self: center;
                    padding: .5rem 1rem;
                }
                margin-bottom: 1rem;
            }
           
            .currencies {
                display: flex;
                justify-content: space-between;
                align-items: center;
                img {
                    cursor: pointer;
                    width: 2.5rem;
                    transform: translateY(.6rem);
                }
                
                margin-bottom: 1rem;
            }
    
            .results {
                display: flex;
                background-color: #B4B592;
                border-radius: 10px;
                height: 3.5rem;
                font-size: 2rem;
                padding: .5rem 1rem;
                .converter__result {
                    align-self: center;
                }
            }
        }
    }

    .keyboard {
        width: 20rem;
        background-color: #504749;
    }
}